@model KuceZBronksuBLL.Models.TimeViewModel
@{
    ViewData["Title"] = "AdministratorPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdministratorPanel</h1>
<a class="btn btn-primary" asp-action="ShowAllUsers" asp-controller="Account">Show all users</a>
<a class="btn btn-primary" asp-action="CreateRaportOfViews" asp-controller="Account">Get Views Raport</a>
<a class="btn btn-primary" asp-action="ShowRecipeWaitingToBeAdd" asp-controller="Account">Show Recipes waiting for add</a>
<a class="btn btn-primary" asp-action="CountedRecipeViews" asp-controller="Account">Show Count of Recipe Views</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeTimeOfCyclicalEmailing">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>How often you want to email be sended to administrator.Put value of number of days</h3>
                <input asp-for="TimeOfCyclicalEmailing" class="form-control" placeholder="Number of days"/>
                <span asp-validation-for="TimeOfCyclicalEmailing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>