@model IEnumerable<KuceZBronksuBLL.Models.CountedRecipeViewsModel>


@{
    ViewData["Title"] = "CountedRecipeViews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a asp-action="AdministratorPanel"><input type="button" value="Back" class="btn btn-primary" /></a>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th onclick="sortTable(0)">
                Nazwa przepisu
            </th>
            <th onclick="sortTable(1)">
                Ilość kliknięć
            </th>
            <th>
                Ilość ulubionych
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LabelOfRecipe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItel => item.FavouriteCount)
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>