@model IEnumerable<KuceZBronksuBLL.Models.RecipeAddedToFavouriteDTO>

@{
    ViewData["Title"] = "CreateRaportOfRecipesAddedToFavs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="AdministratorPanel"><input type="button" value="Back" class="btn btn-primary" /></a>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Nazwa przepisu
            </th>
            <th>
                Data kliknięcia
            </th>
            <th>
                Użytkownik
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LabelOfRecipe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateWhenClicked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>