@{
    ViewData["Title"] = "EditComplete";
}
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<h1>Recipe Created!</h1>
<h2>You have successfully created the recipe</h2>

<a asp-action="Index">Back to List</a>