@{
    ViewData["Title"] = "EditComplete";
}
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<h1>Recipe changed!</h1>
<h2>You have successfully changed the recipe</h2>

<a class="btn btn-primary btn-lg active" asp-action="ShowRecipeDetails" asp-controller="Recipe" asp-route-label="@Model.Label">Edit</a>
<a asp-action="Index">Back to List</a>