@model IEnumerable<RecipeViewModel>
@{
    ViewData["Title"] = "Search";
}
<div></div>
<div>
    @Html.Partial("~/Views/Shared/_SearchPanel.cshtml", (SearchViewModel)ViewBag.SearchViewModel)
</div>
<div>
    @Html.Partial("~/Views/Shared/_SearchResult.cshtml")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
