@model IEnumerable<RecipeViewModel>
@{
    ViewData["Title"] = "Search";
}

<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div></div>
<div>
    @Html.Partial("~/Views/Shared/_SearchPanel.cshtml", (SearchViewModel)ViewBag.SearchViewModel)
</div>
<div>
    <partial name="~/Views/Shared/_SearchResult.cshtml" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
