@using KuceZBronksuBLL.Models;
@using Microsoft.AspNetCore.Identity
@using KuceZBronksuDAL.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<RecipeViewModel>
@{
    ViewData["Title"] = "Search";
}

<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div></div>
<div>
    @Html.Partial("~/Views/Shared/_SearchPanel.cshtml", (SearchViewModel)ViewBag.SearchViewModel)
</div>
<div>
    @Html.Partial("~/Views/Shared/_ViewRecipes.cshtml", Model)
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
