@model IEnumerable<RecipeViewModel>
@{
    ViewData["Title"] = "Search";
}
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<h1>Search</h1>
<div>
    <partial name="~/Views/Shared/_SearchResult.cshtml" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
