@model IEnumerable<RecipeViewModel>



<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="grid" class="row">
					@foreach(var item in Model)
					{
					<div class="mix col-sm-3 page1 page4 margin30">
						<div class="item-img-wrap ">
							<img src=@item.Image class="img-responsive" alt="workimg">
								<h3 class="card-title text-center">@Html.DisplayFor(modelItem => item.Label)</h3>
								<a class="btn btn-primary btn-lg active" asp-action="ShowRecipeDetails" asp-controller="Recipe" asp-route-label="@item.Label">Show details</a>
							<div class="item-img-overlay">
								<a href="#" class="show-image">
									<span></span>
								</a>
							</div>
						</div>
					</div>
					}
					</div>
				</div>
			</div>
		</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">

	</script>
</body>